#main_div{
    height: 500px;
    width: 500px;
   text-align: center;
    background-color: aqua;
    position: relative;
    margin: 0 auto;
    
}
#inner_div{
    height: 250px;
    width: 250px;
    background-color:slateblue;
    align-items: center;
    text-align: center;
    color: aliceblue;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 30px;
    
    

}
#btn{
    background-color: black;
    color: aliceblue;
    height: 40px;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    
}